body {
  background-image: url(../img/tablecloth.gif);
}

.homePizza {
  width: 15%;
}

#finalOrder {
  display: none;
}


#addPizza {
  margin-top: 20px;
}

h4 {
  display: none;
}

#receipt {
  display: none;
}

#mainInfo, #addressInfo, #addPizza {
  display: none;
}

#delivery, #carryOut {
  width: 225px;
  height: 125px;
  font-size: 25px;
  border: 5px ridge red;
  background-color: lightblue;
}

.well {
  border: 5px ridge red;
  background-color: lightblue;
}

#intro {
  text-align: center;
}

#orderSummary {
  display: none;
}

#userInputFields {
  display: none;
}

#finalPizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
