#finalOrder {
  display: none;
}

h4 {
  display: none;
}

#receipt {
  display: none;
}

#mainInfo, #addressInfo, #addPizza {
  display: none;
}

#delivery {
  width: 225px;
  height: 125px;
  font-size: 25px;
}

#carryOut {
  width: 225px;
  height: 125px;
  font-size: 25px;
}
